.navbar {
  letter-spacing: 2.7px;
  font-size: 16px;
  font-family: var(--font-barlow);
  text-transform: uppercase;
}

.navbar_elements {
  list-style: none;
  backdrop-filter: blur(20px);
  height: 97px;
  width: 830px;
  position: absolute;
  top: 40px;
  right: 0px;
  justify-content: space-between;
}

.txtPosition {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 39px 120px 39px 92px;
}

.navbar_elements a {
  display: flex;
  text-decoration: none;
  color: var(--color-butter);
}

.navbar_padding {
  height: 52px;
}

.navbar_padding:hover {
  border-bottom: 5px solid grey;
}

.active {
  border-bottom: 5px solid var(--color-butter);
  height: 52px;
}

.logo {
  position: absolute;
  left: 55px;
  top: 64px;
}

b {
  padding-right: 0.5rem;
}
