@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Outfit:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

:root {
  --font-bellefair: "Bellefair", serif;
  --font-barlow: "Barlow Condensed", sans-serif;

  --color-black: #0b0d17;
  --color-blue: rgb(108, 214, 249);
  --color-butter: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}
